.parent_link_search_highlight{
  background-color: #ffe3a9;
  color: #000;
}

#parent_link_search_wrap{
  display: inline-block;
  width: 70%;
}

#edit-menu-menu-parent--description .button{
  margin-left: 0px;
}
#edit-menu-menu-parent--description{
  margin-bottom: 2em;
}
